/* You can add custom CSS and extend Boostrap styles in this file.  Remember, Bootstrap is just CSS at the end of the day! */
/*Crates the parallax effect and the large image underneath it */
header#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
  url("img/hero.jpg");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 3vh;
  width: 100%;
  height: 100%;
  top: -30vh;
  padding: 20%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
/*Properties for the text in the hero image */
.hero h3 {
  font-size: 10vh;
}

/*Properties for the image used as the hero */
.hero img {
  top: -15vh;
  border-radius: 50%;
  border-width: 10vh;
  height: 25vh;
  margin-top: 10vh;
  margin-bottom: -10vh;
  position: relative;
  align-items: center;
}

.hero h3 {
  font-size: 10vh;
  margin-top: -3vh;
}
body {
  background-color: #292929;
  color: white;
}

/*Creates the header at the top of the each section */
h2{
  position: relative;
  text-align: center;
  margin: 30px;
  margin-bottom: 15px;
  margin-top: 50px;
}
h3{
  position: relative;
  text-align: center;
  margin-top: -10px;
  margin: 30px;
  padding: -10px;
  font-size: 20px;
}

/*Mission image properties */
.mission img {
  width: 100%;
  height: 50vh;
  margin-top: 20px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.mission p {
  position: relative;
  font-size: 20px;
  margin-top: 20px;
}

.why {
  margin-top: 10vh;
  position: relative;
  width: 100%;
  height: 130vh;
  background: black;
  overflow: hidden;
}
.why canvas {
  height: 130vh;
  width: 100%;
}
.why-text{
  top: -95vh;
  height: 35vh;
  margin-bottom: -45vh;
  position: relative;
}
.why h3{
  background: black;
  border-radius: 50%;
  font-size: 7vh;
  padding: 5%;
}
.why p {
  background: black;
  border-radius: 30%;
  font-size: 13px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-width: 10%;
}

.skills {
  background-color: #4C4C4C;
  border-radius: 50px;
  margin: 5%;
}

/*Skills image properties */
.skills img {
  width: 100%;
  border-radius: 50%;
  height: 35vh;
  object-fit: cover;
}

/*Skills text properties */
.skills p {
  margin: 5vh;
  font-size: 2.5vh;
  position: relative;
  text-align: center;
}
/*Defines the properties of the carousel and image position */
.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 85vh;
  width: 40vw;
  overflow: hidden;
}

/*Makes the images darker and more centered */
.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.3);
}

/*Makes the carousel text more readable */
.carousel-caption {
  z-index: 1;
}

/*Properties for the icons in contact */

.icons {
  margin: 50px;
  text-align: center;
  background-color: #59AAF7;
  border-radius: 100px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
}

/*Hover effect for contact*/
.icons:hover {
     color: black;
     background-color: #91D6F2 !important;
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
     -ms-transform: scale(1.1);
     transform: scale(1.1)
 }

 /*text above the buttons*/
.icons {
  font-size: 3vh;
  color: white;
}
